 /*//////////////////Barra Ricerca//////////////////////////////////////*/ 
  .search {
    width: 100%;
    display: flex;
    padding: 0 1%;
  }
  
  .searchTerm {
    width: 100%;
    border: 3px solid #000;
    border-left: none;
    padding: 5px;
    height: 36px;
    border-radius:  0 5px 5px 0 ;
    outline: none;
    color: #000;
  }
  
  .searchTerm:focus{
    color: #000;
  }
  
  .searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #000;
    background: #000;
    color: #ff9900;
    border-radius: 5px 0 0 5px ;
    cursor: pointer;
    font-size: 20px;
    padding: 0!important;
    margin:0!important;
  }
  
  /*Resize the wrap to see the search bar change!*/
  .wrap{
    width: 100%;
    left: 0%;
    position: relative;
  }
 /*////////////////////////////////////////////////////////*/ 
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    padding: 0;
    overflow-x: hidden;
    transition: 0.5s;
  }
  .sidenav #sep{
    color: #ff9900;
  }
  .sidenav a {
    text-decoration: none;
    color: #ff9900;
    display: block;
    transition: 0.3s;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  
  .sidenav a:hover {
    color: #fff;
  }
  .sidenav > a {
    text-decoration: none!important;
    }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0;
    max-height: 22px;
    padding:0.5% 1.5%!important;
    font-size: 200%;
  }
  
  #main {
    transition: margin-left .5s;    
  }

body, header, h1, h2, h5{
    margin: 0;
    padding: 0;
    
}

#eventList{
    text-align: center;
    margin: 0!important;
    padding: 1% 1%!important;
}

h1, h2,h3, h5{
    font-size: 50%;
}

.evento h1, h2,h3, h5{
    font-size: 50%;
}

button{
    margin: 1% 1%!important;
}

body > header, body > footer{
    background-color: #ff9900;
    color: #000;    
    padding: 0.5% 0;
    max-height: 5%;
    text-align: center;
}

body {
    text-align: center;
    font-family: "Lato", sans-serif;
    background-color: #fff;
}

ul {
    list-style-type: none;
}

/*footer{
    bottom: 0px;
    width: 100%;
}*/

footer{
    position: relative;
}

main a {
    text-decoration: none!important;
    color: black!important;
}

header > div {
    display: inline;
}
header > div span{
    color: #000;
    font-size:175%;
    cursor:pointer;
    padding: 1%;
    float: center;
}
#menuIcon{
    float: left;
    margin-right: 11%!important;
}
#notificaIcon{
    float: right;
}
#carrelloIcon{
    float: right;
}
#utenteIcon{
    float: right;
}
#creaIcon{
    float: right;
}
#titolo{
    padding:0 1%!important;
    margin: 0;
    font-size:170%;
    cursor: default;
}

main{
    padding: 1%;
    text-align: center;
}


/* !!!!!!!!!!!!!!LOGIN!!!!!!!!!!!!!!!!!!!*/

#searchLogin{
    height: 36px;
}

.btn-primary{
    color:#000 !important;
    background-color: #ff9900 !important;
    border-color: #ff9900 !important;
    
}

#accetta, #rifiuta{
    background-color: #343a40;
    border: #343a40;
}
 /*!!!!!!!!!!!!!!!!FINE LOGIN !!!!!!!!!!!!!!!!!!!!*/
/* !!!!!!!!!!!!!!DETTAGLIO EVENTO!!!!!!!!!!!!!!!!!!!*/

.dettaglioevento{
    background-color: #fff;
    border-radius: 15px;
    margin: 2%;
}

.dettaglioevento header{
    text-align: left; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 1% 0% 1%;
    
}

.dettaglioevento section{
    padding: 0% 1% 15px 0%;
    text-align: left;
    display:block;
    width: 100%;
    border-bottom: 2px solid #ff9900;
}

#numerobiglietti{
    text-align: left;
    display: block;
}

#aggiungialcarrello{
    text-align: center;
    margin-top: 30px;
}

#container{
    width:100%;
    height:300px !important;
    overflow:hidden;
}
#img {
    width:100%;
    display: block;
}

#informazioniEvento{
    text-align: left !important;
}
/*.dettaglioevento > header > div > img{
    width: 100%;
    height: 100%;
    padding: 0 1% 0 15px;
}*/

/*#boximg{
    width: 100%;
    height: 30%;
    overflow: hidden;

}*/

 /*!!!!!!!!!!!!!!!!FINE DETTAGLIO EVENTO !!!!!!!!!!!!!!!!!!!!*/

 /*!!!!!!!!!!!!!!!!Inizio pagamento !!!!!!!!!!!!!!!!!!!!*/
 #formpagamento{
    text-align: center !important;
    display: block;
}
 /*!!!!!!!!!!!!!!!!fine pagamento !!!!!!!!!!!!!!!!!!!!*/

 /*!!!!!!!!!!!!!!!!INIZIO TASTO UPLOAD IMG !!!!!!!!!!!!!!!!!!!!*/
 .upload-btn-div {
    position: relative;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
  }

  .upload-btn-div input[type=file] {
    font-size: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
  }
/*!!!!!!!!!!!!!!!!FINE TASTO UPLOAD IMG !!!!!!!!!!!!!!!!!!!!*/


/*!!!!!!!!!!!!!!!!NOTIFICHE !!!!!!!!!!!!!!!!!!!!*/
.alert {
    padding: 20px;
    background-color: #ff9900;
    color: black;
}
.alert-letto {
    padding: 20px;
    background-color: #EDEDED;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 16px;
}

.closebtn {
    margin-left: 15px;
    color: black;
    font-weight: bold;
    float: right;
    font-size: 35px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}


.badge-notify {
    background: black;
    float: right;
    color: #ff9900;
    position: relative;
    top: 10px;
    left: 1%;
    font-size: 65% !important;
}

/*!!!!!!!!!!!!!!!!NOTIFICHE !!!!!!!!!!!!!!!!!!!!*/

.evento, form{
    background-color: #fff;
    padding: 1%;
    
}

.evento{
    min-width: 100%;
    display: inline-block;
    text-align: left;  
    text-decoration: none;
    border-bottom: 1px solid rgb(77, 77, 77);
    border-top: 1px solid rgb(77, 77, 77);
        
}


.evento header{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:50%;
    padding: 1%; 
    margin: 1%;   
}

.evento header h2{
    font-size: 300%;
}

.evento div{
    padding: 1%;
    float:left; 
    display:block;
    top:0%;    
    margin: 1%;
    
}

#ScalperMate-Carrello main {
    display: inline-block;
    text-align: left!important;
}
#compra{
    font-size: 70%;
    float: right;
    width: 25%!important;
    margin: 1%;
}
#carIna a span{
    color: #000;
    font-size:300%;
    cursor:pointer;
    padding: 5%;
}
#eventoCar {
    text-align: left;  
    text-decoration: none;
    border-bottom: 1px solid rgb(77, 77, 77);
    border-top: 1px solid rgb(77, 77, 77);
    width: 70%!important;
    padding: 1%;
    
}
#eventoCar p, #eventoCar h3,#eventoCar h5{
    font-size: 80%;    
    margin: 0px;
}
#eventoCar button, #compra button {
    font-size: 80%; 
}
#compra button {
    font-size: 120%;
}

#prezz {
    margin-bottom: 2%!important;
}
#prezz p{
    max-width: 40%;
    display: inline ;
    margin: 0;
}
#eventoCar , #eventoCar  h3 ,#eventoCar  h2{
    font-size: 100%;
}
#eventoCar  section{
    padding: 1%;
    display: inline;
    max-width: 40%;
}
.imgCar{
    max-width: 50%;
    max-height: 50%;
}
#compra h3{
    font-size: 140%;
}

.evento div h3{
font-size: 150%;
}
.evento > div > img{
    width: 100%;
    height: 100%;
}

.evento > div > h3{
    margin: 0%;
}

.imgEvento{
    width: 30%;
}

.descrizioneEvento{
    width: 60%;
    
    font-size: 70%;
}

.descrizioneEvento h3, .descrizioneEvento p{
    padding: 2% 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*////////////////////////////*/

.table-dark{
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    margin: 0 !important;
}

.table-dark th{ 
    background-color: #ff9900 !important;
    color: black !important;
}

.table-dark>tbody>tr>td>button{
    color:white;
}

/*
#Scalper-Carrello-Vuoto footer{
    bottom: 0px!important;
    position: fixed!important;
}

#Scalper-Login footer{
    position: fixed;
}
*/
#ImgEvento{
    
    width: 200%;
    padding: 100%;
    height: 100%;
}
body>footer{
   margin-top: 2%;
}
@media screen and (min-width:768px ){
    .sidenav a {font-size: 18px;}

    main{
        vertical-align: top;
        width: 100%;
        padding: 1%!important;
        margin: 0%!important;
        text-align: center!important;
    }

    #eventList{
        text-align: center!important;
        margin: 0px!important;
    }
    form ul{
        width: 50%;
        margin: 0 25%;
    }

    table{
        width: 80%;
        margin: 0 10%;
    }
    header > div span{
        font-size:200%;
        cursor:pointer;
        padding: 1%;
        float: center;
    }

    .badge-notify {
        font-size: 80% !important;
    }

    .sidenav > a {
        text-decoration: none!important;
    }

    .sidenav {
        padding: 0;
    }   
    /* 
    #aggiungiCat{
        margin-left: 10% ; 
    }*/

    table{
        width: 60%;
        border-spacing: 0;
        border-collapse: collapse;
    }
    
    table td, table th{
        border: 1px solid #000;
        padding: 0;
    }
    
    table th{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
    table td{
        text-align: center;
    }

    #categoria{
        /* margin-left: 40%; */
        margin-top: 20px;
    }

    /*//CARRELLO LATO DESKTOP//*/
    #ScalperMate-Carrello main {
        display: inline-block;
        text-align: left!important;
    }
    #compra{
        font-size: 70%;
        float: right;
        width: 25%!important;
        margin: 1%;
    }
    #eventoCar {
        text-align: left;  
        text-decoration: none;
        border-bottom: 1px solid rgb(77, 77, 77);
        border-top: 1px solid rgb(77, 77, 77);
        width: 70%!important;
        
    }
    #eventoCar header h2{
        font-size: 150%;
    }

    #eventoCar , #eventoCar  h3 ,#eventoCar  h2{
        font-size: 100%;
    }
    #eventoCar  section{
        padding: 1%;
        display: inline-block;
    }
    .imgCar{
        max-width: 30%;
        max-height: 30%;
    }
    #compra h3{
        font-size: 140%;
    }

    button{
        font-size: 100%; 
    }

    #eventoCar p,#eventoCar h5{
        font-size: 90%;    
        margin: 0px;
    }
    #eventoCar h3{
        font-size: 100%; 
    }
    #eventoCar button, #compra button {
        font-size: 100%; 
    }

    #compra{
        font-size: 100%;
    }

    #titolo{
        padding:1%!important;
        margin: 0;
        font-size: 200%;
        cursor: default;
    }

    .descrizioneEvento{
        
        font-size: 100%;
    }
}