/*//////////////////Barra Ricerca//////////////////////////////////////*/ 
.search {
    width: 100%;
    display: flex;
    padding: 0 1%;
}
  
.searchTerm {
    width: 100%;
    border: 3px solid #000;
    border-left: none;
    padding: 5px;
    height: 36px;
    border-radius:  0 5px 5px 0 ;
    outline: none;
    color: #000;
}
  
.searchTerm:focus{
    color: #000;
}
  
.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #000;
    background: #000;
    color: #ff9900;
    border-radius: 5px 0 0 5px ;
    cursor: pointer;
    font-size: 20px;
}
  
  /*Resize the wrap to see the search bar change!*/
.wrap{
    width: 100%;
    left: 0%;
    position: relative;
}
 /*////////////////////////////////////////////////////////*/ 
 
 .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    text-align: center;
    transition: 0.3s;
}
  
.sidenav a {
    text-decoration: none;
    color: #ff9900;
    position: static;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #fff;
}
  
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 1%;
    font-size: 200%;
    padding: 1%;
}

.sidenav .linkNav {
      padding: 5% 0;
}
  
#main {
    transition: margin-left .5s;
    padding: 1%;
}

body{
    font-family: "Lato", sans-serif;
    background-color: #000;
    background-image: linear-gradient(#000, #ccc, #000);
}

body > footer{
    border-radius:0 0 10px 10px ;
}

body, header, h1, h2, h5, ul{
    margin: 0;
    padding: 0;
}

body > header, body > footer{
    background-color: #ff9900;
    color: #000;    
    padding: 0.5% 0;
    max-height: 5%;
    text-align: center;
}

body > footer{
    bottom: 0%;
    width: 100%;
}

header > div {
    display: inline;
}
span{
    font-size: 150%;
    cursor: pointer;
    padding: 1%;
    
}
#menuIcon{
    float: left;
}
#notificaIcon{
    float: right;
}
#carrelloIcon{
    float: right;
}
#utenteIcon{
    color: #000;
    float: right;
}
#titolo{
    font-size: 200%;
    cursor: default;
}

main{
    text-align: center;   
}


main a span{
    margin: 2% 5%;
    color: #ff9900;
}

.evento{
    display: inline-block;
    text-align: left;  
    text-decoration: none;
    border-bottom: 1px solid #000;
    margin: 1%;
        
}

form{
    margin: 20% 1%;
}
form div{
    text-align: center;
}
form div label, form div input, form label {
    display: inline-block;
    text-align: center;
    
}
form div input{
    max-width: 60%;
    margin: 1% 20%;    
}
form button{
    margin: 2%;
}
form div label{
    font-size: 150%;
}
.evento, form {
    border-radius: 15px;
    background-color: #fff;
    color: #000;
    
}

.evento header{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:50%;
    padding: 1%; 
    margin: 1%;   
}

.evento header h2{
    font-size: 300%;
}

.evento div{
    padding: 1%;
    float:left; 
    display:block;
    top:0%;    
    margin: 1%;
    
}
.evento div h3{
font-size: 150%;
}
.evento > div > img{
    width: 100%;
    height: 100%;
}

.evento > div > h3{
    margin: 0%;
}

.imgEvento{
    width: 30%;
}

.descrizioneEvento{
    width: 60%;
}

body#loginBody{
    background-color: #fff;
}

body#homeBody{
    background-color: #111;
}

/* !!!!!!!!!!!!!!LOGIN!!!!!!!!!!!!!!!!!!!*/

#searchLogin{   /*????????????????????????????????????????????????????????????????????*/
    height: 36px;
}

.btn-primary{
    color:#000 !important;
    background-color: #ff9900 !important;
    border-color: #ff9900 !important;
    
}
 /*!!!!!!!!!!!!!!!!FINE LOGIN !!!!!!!!!!!!!!!!!!!!*/

/* !!!!!!!!!!!!!!DETTAGLIO EVENTO!!!!!!!!!!!!!!!!!!!*/

.dettaglioevento{
    background-color: #fff;
    border-radius: 15px;
    margin-bottom: 1%;
}

.dettaglioevento header{
    text-align: left; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 1% 0% 1%;
    
}

.dettaglioevento section{
    padding: 0% 1% 15px 0%;
    text-align: left;
    display:block;
    width: 100%;
    border-bottom: 2px solid #ff9900;
}

#numerobiglietti{
    text-align: left;
    display: block;
}

#aggiungialcarrello{
    text-align: center;
    margin-top: 30px;
}

#container{
    width:100%;
    height:300px !important;
    overflow:hidden;
}
#img {
    width:100%;
    display: block;
}
/*.dettaglioevento > header > div > img{
    width: 100%;
    height: 100%;
    padding: 0 1% 0 15px;
}*/

/*#boximg{
    width: 100%;
    height: 30%;
    overflow: hidden;

}*/

 /*!!!!!!!!!!!!!!!!FINE DETTAGLIO EVENTO !!!!!!!!!!!!!!!!!!!!*/

 /*!!!!!!!!!!!!!!!!Inizio pagamento !!!!!!!!!!!!!!!!!!!!*/
 #formpagamento{
    text-align: center !important;
    display: block;
}
 /*!!!!!!!!!!!!!!!!fine pagamento !!!!!!!!!!!!!!!!!!!!*/

 /*!!!!!!!!!!!!!!!!INIZIO TASTO UPLOAD IMG !!!!!!!!!!!!!!!!!!!!*/
 .upload-btn-div {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }

  .upload-btn-div input[type=file] {
    font-size: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
  }
/*!!!!!!!!!!!!!!!!FINE TASTO UPLOAD IMG !!!!!!!!!!!!!!!!!!!!*/


table{
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

table td, table th{
    border: 1px solid #000;
    padding: 5px 0;
}

table th{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

table td{
    text-align: center;
}



@media screen and (min-width:768px ){
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}

    main{
        display: inline-block;
        width: 100%;
        text-align: center;
    }

    form ul{
        width: 50%;
        margin: 0 25%;
    }

    table{
        width: 80%;
        margin: 0 10%;    
    }
    header > div span{
        font-size:200%;
        cursor:pointer;
        padding: 1%;
        float: center;
    }

    span{
        font-size:200%;
    }

    .evento, form{
        font-size: 100%;
    }

    form div label, form div input, form  button, form label {
        display: inline;
        text-align: center;
        padding: 12px 60px;
        margin: 1% 30%;
        
    }
    .form-group{
        margin: 1%;
        padding: 1%;
    }

    body > header{
        border-radius:0;
    }
    body > footer{
        border-radius:0;
    }

    .searchTerm {
        height: 52px;
        width: 100%;
    }

    .searchButton {
        width: 60px;
        height: 52px;
        border: 1px solid #000;
        background: #000;
        color: #ff9900;
        border-radius: 5px 0 0 5px ;
        cursor: pointer;
        font-size: 20px;
    }

    form div input{
        max-width: 40%;
        margin: 1% 30%;    
    }

    .sidenav > a {
        text-decoration: none!important;
    }
}